* {
    font-family:  Arial, Helvetica, sans-serif;
}

body {
    padding: 15px;
}
.hild {
    display: none;
}
a, input[type="submit"]{
    background-color: darkcyan;
    color: antiquewhite;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.7;
    font-size: 1em;
    border: none;
    cursor:pointer;
}
a:hover,
input[type="submit"] {
    opacity: 1;

}
#button-loading {
    display: "none";
}